/* 
border-radius: 
small--9px
large ---11px

font-size: 8 /10 /12 /16 /20 /25 / 31/ 39 / 48/ 61 / 76 / 95 / 119 / 149


line--height: 
small --- 1.2 
medium --- 1.6
large --- 1.8

spacing system : 2 /4 /8 /16 /20  /24 /  /32  /40 /48 /64 /80


color
 limeColor :#c1fd33
 blueColor : rgb(73, 103, 255);

*/











  @import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;700&display=swap');



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
html{

    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: #555;
    line-height: 1.2;
    font-weight: 500;

}
.container{
    max-width: 130rem;
    padding: 0 1.8rem;
    margin: 0 auto;
}

.heading-primary{
    font-size: 7.6rem;
    font-weight: 600;
    color: #333;
    line-height: 1.2;
    letter-spacing: 0.5px;

}
.heading-primary span{
    font-weight: 700;
    color: #000;
}
.heading-primary:last-child{
    margin-bottom:1.6rem ;
}
.heading-secondary{
    font-size: 4.8rem;
    color: #333;
    margin-bottom: 3.2rem;
}
.heading-tertiary{
    font-size: 3.9rem;
    color: #333;
    margin-bottom: 1.6rem;
    line-height: 1.8;
}
.subheading{
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1.2px;
    font-weight: 600;
}

.grid{
    display: grid;
    column-gap: 4.8rem;

}
.grid--3--cols{
    grid-template-columns: repeat(3,1fr);

}
.grid--2--cols{
    grid-template-columns: repeat(2,1fr);

}
.btn:link,.btn:visited{
    font-size: 1.8rem;
    text-decoration: none;
    /* margin-right: .8rem; */
    color: #fff;
    background: #000;
    padding: 1.2rem ;
    display: inline-block;
     border-top-left-radius:14px;
     border-bottom-left-radius:14px;
    
}
.align-items-center{
    align-items: center;
}

.padding-sm-top{
    padding-top: 1.2rem;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.margin-bottom-md{
    margin-bottom: 2.4rem;
}
.border-bottom-sm{
    border: 2px solid #333;
}
.grid-50{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 3.2rem;

}